/* *** Styles that I added *** */
.colorLabel {
  color: #b318f0;
}

span span {
  font-weight: bold;
}

.spacing {
  margin: 1em;
}

.hideHeader {
  display: none;
}

.drawBorderWithPaddingAndMargin {
  border: solid;
  margin: 0.5em;
  padding: 0.5em;
}
