/* *** Styles that I added *** */
.colorLabel {
  color: #b318f0;
}

span span {
  font-weight: bold;
}

.spacing {
  margin: 1em;
}

.drawBorderWithPaddingAndMargin {
  border: solid;
  margin: 0.5em;
  padding: 0.5em;
}

.center-content {
  text-align: center;
}

.bright-background {
  background-color: lavender;
}
